service firebase.storage {
  match /b/{bucket}/o {
    match /files/{userid}/{allPaths=**} {
      allow write: if request.auth.uid == userid;
      allow read;
    }
  }
}
