#filediv {
  width: 95%;
  height: auto;
  background: #97c30a;
  border-radius: 3px;
  max-height: 400px;
  overflow: hidden;
}

.setwidth100 {
  width: 100% !important;
}

#filediv a {
  border: none;
  border-radius: 3px;
  font-size: 20px;
  line-height: 23px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
  outline: none !important;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  color: black;
  text-decoration: none;
  margin: 10px;
}

#filediv a i {
  margin-left: 2px;
}

.smallfilediv {
  font-size: 13px !important;
  line-height: 15px !important;
  margin: 0 !important;
}

#filediv img {
}
