.mybutton {
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 15px;
  height: 23px;
  margin-right: 3px;
  padding: 5px;
  margin-top: 4px;
  background: rgba(0, 0, 0, 0.2);
  width: 23px;
  text-align: center;
  outline: none !important;
  cursor: pointer;
  display: inline-block;
}

.mybutton:hover {
  background: rgba(0, 0, 0, 0.4);
}
